.body {
    font-family: 'Noto Sans TC', sans-serif;

    font-size: 50px;
   
}

.header {
    width: 100%;
    height: 80px;
    padding: 20px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 2;
}

.name_of_chruch {
    flex:2
   
}


.header .wrap-header-items {
    width: 500px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header .wrap-header-items .header-item {
    white-space: pre;
}

.header .wrap-header-items .header-item::after {
    content: '';
    width: 100%;
    height: 0px;
    display: block;
    background-color: #000;
}

.header .wrap-header-items .header-item:hover {
    font-weight: 900;
}



.header .wrap-header-items .header-item:hover::after {
    height: 1px;
}

.wrap-titlebar {
    width: 100%;
    height: 200px;
    margin-top: 80px;
    position: relative;
    margin-bottom: 50px;
    /* background-image: url(assets/images/homepage/homepage_banner.jpg); */
    /* background-size: cover; */
}



.wrap-titlebar .titlebar {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
}

.homepage_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.279);
}

.homepage_banner {
/* 為甚麼背景圖片沒有跟著縮放? */
    width:100%;
    height: 100%;
    display: flex;
}

.container {
    width: 100%;
    /* height: 200vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    /* align-items: center; */
    position: relative;
}

.about_title {
    margin: 15px auto;
}

.mass_time_title {
    margin: 15px auto;
}

.Sunday_school_title {
    margin: 15px auto;
}

.mass_index {
    display: flex;
}

.mass_Taiwan {
    flex:1
}

.mass_Vietnam {
    flex:1

}

.mass_Taiwan_01 {
    font-weight: bold;
}




.mass_Vietnam_01 {
    font-weight: bold;  
}

.Sunday_school_time {
    font-weight: bold;
}

.swiper {
    width: 600px;
    height: 300px;
}

.swiper img {
    max-width: 100%;
}

.footer {
    top:20px
    position: relative;
    display: flex;
    width: auto;
    height: 90px;
}

.google_map {
    position: relative;
    padding: 20px;
    width: 100%;
    height: 80px;
}